* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  gap: 25px;
  margin-right: 150px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.4s ease-in-out;
  color: black;
}

.nav-links a:hover {
  color: #4169e1;
  border-top: 2px solid #4169e1;
  padding-top: 10px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
}