.intro-main-box{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 100px;
    margin-top: 250px;
    margin-right: 605px;
    margin-left: 50px;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 3.2em;
}
h1 > span {
    position: relative;
    display: inline-block;
    color: #4169e1;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}
h2 > span {
    color: #4169e1;
}
h1 > span > span {
    display: block;
    animation: animatewords 5s infinite ease;
}
@keyframes animatewords {
    0% { transform: translateY(0%); }
    25% { transform: translateY(-100%); }
    50% { transform: translateY(-200%); }
    75% { transform: translateY(-300%); }
    100% { transform: translateY(-400%); }
}